*{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
}
body{
                  
}
.reklam{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform:translate(-50%,-50%);
                    transform-style: preserve-3d;
             

}
.reklam a{
                    text-decoration: none;
                    display:inline-block;
                     margin-left: 20px;
                    width:100px;
                    height: 100px;
                    text-align: center;
                    color: rgb(10, 10, 10);
                    perspective:1000px;
                    transform:rotate(-30deg) skew(20deg);
                    transition: .5s;
                    box-shadow: -20px 20px 10px rgb(46, 45, 45);
                
                   

}
.reklam a i{
                    font-size: 60px;
                    line-height: 63px;
                   
                    transition: .5s;
}
.reklam a::before{
                    content:" ";
                    position: absolute;
                    width:20px;
                    top: 10px;
                    height:100%;
                    background-color:rgb(248, 252, 251);
                    left:-20px;
                    transform: rotate(0deg) skewY(-45deg);
                    transition: .5s;

}
.reklam a::after{
                    content:" ";
                    position: absolute;
                    width:100%;
                    top: 99px;
                    height:20px;
                    transform: rotate(0deg) skewX(-45deg);
                    bottom:-29px;
                    left: -10px;
                    background-color:rgb(248, 252, 251);
                    transition: .5s;


}
.reklam a:hover{
                    transform:rotate(-30deg) skew(20deg)  translate(20px ,-20px) ;
                    box-shadow: -50px 50px 50px rgb(46, 45, 45);   
                       transition: .5s;      
}
.reklam a:hover{
                    background-color:blue;
                    transition: .5s;
}
.reklam a:hover i{
                    color:rgb(255, 255, 255);
                    transition: .5s;
}
.reklam a:hover::after{
                    background-color:blue;  
                    transition: .5s;         
}
.reklam a:hover::before{
                    background-color:blue;
                    transition: .5s;           
}